{% extends "base.html" %} {% block title%}Home{% endblock%} {% block content%}
<h1 class="text-secondary" align="">Home</h1>
<p class="">
    Hey, I'm a Senior Software Engineer at Company. I enjoy working with Next.js and crafting beautiful front-end experiences.
</p>

<p class="">
    This portfolio is built with Next.js and a library called Nextra. It allows you to write Markdown and focus on the content of your portfolio. Deploy your own in a few minutes.
</p>

<p class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi doloremque, dolorum quasi excepturi nam. Ipsa illum reiciendis quo sequi odit earum, eius nulla fuga quam eligendi praesentium rem. Dolorem amet cupiditate provident possimus rerum perspiciatis
    in ab, quod voluptatibus cum vitae. Accusantium, velit vero? Velit fuga sit doloremque similique eligendi? Eos odio nesciunt non voluptas sit voluptates possimus aliquam dolorem. Voluptatibus consequuntur nihil eius perspiciatis, ullam odio dolorum
    ea soluta voluptatum consectetur facere id quibusdam sint quasi cumque, explicabo corrupti fugit veritatis? Porro, officiis exercitationem explicabo molestiae atque, quidem distinctio dolorem, facilis provident nihil vitae alias rerum est aperiam!

    <hr>

</p>
{% endblock %}