{% extends "base.html" %} {% block title%}Blog{% endblock%} {% block content%}
<h1 class="text-secondary" align="">Blog</h1>
<p class="">
  Hey, I'm a Senior Software Engineer at Company. I enjoy working with Next.js
  and crafting beautiful front-end experiences. This portfolio is built with
  Next.js and a library called Nextra. It allows you to write Markdown and focus
  on the content of your portfolio. Deploy your own in a few minutes.
</p>

<p class="">NEXT STEPS: for loop -> through each md page in /blogs</p>
{% filter markdown %}## Your Markdown ============= {% endfilter %}

<ul class="list-group bg-dark">
  <li
    class="list-group-item d-flex justify-content-between align-items-center bg-dark">
    Cras justo odio
    <span class="badge badge-dark badge-pill">14 views</span>
  </li>
  {% for post in posts1 %}
  <li
    class="list-group-item d-flex justify-content-between align-items-center bg-dark">
    <a href="/" class="">{{ post.name }}</a>
    <span class="badge badge-dark badge-pill">14 views</span>
  </li>

  {% endfor %}
</ul>

{% endblock %}
