{% extends "base.html" %} {% block title%}Projects{% endblock%} {% block
content%}
<h1 align="center">Projects</h1>
<p class="">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vitae,
  placeat fugiat est voluptatum porro, fuga atque omnis laborum assumenda
  tenetur similique expedita eos earum molestias facere error itaque. Laboriosam
  aliquid architecto repudiandae consectetur cum beatae numquam fugit natus
  totam pariatur sunt consequatur autem eaque quaerat optio explicabo,
  asperiores fuga?
</p>
<ul class="list-group list-group-flush" id="notes">
  {% endblock %}
</ul>
